.mixin.out/
mods/.connector/
saves/
logs/
crash-reports/
local/
ldlib/
moddata/
modernfix/
xaero/
XaeroWaypoints/
XaeroWaypoints_*/
fancymenu_data/
schematics/
resourcepacks/
options.txt
fabricloader.log
emi.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
emi.json
fabricloader.log
fabricloader.log
emi.json
/logs
options.txt
/saves
usercache.json
